.LogIn {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 92vh;
}
.logInContainer {
	display: flex;
	flex-direction: column;
	margin-top: 5em;
}
.nameLogIn {
	align-self: center;
	font-family: 'Avenir-Next';
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
}
