.container {
	position: fixed;
	top: 150px;
	display: flex;
	width: 200px;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 4px 0 0 4px;
	z-index: 100;
}

.hidden {
	right: -200px;
	animation: hide 0.2s ease;
}

.showed {
	right: 0;
	animation: show 0.2s ease;
}

.container p {
	width: calc(100% - 30px);
	text-align: center;
	@apply text-base text-white;
}

.icon {
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon svg {
	stroke: #fff;
	@apply w-6 w-6;
}

@keyframes show {
	from {
		right: -200px;
	}
	to {
		right: 0;
	}
}

@keyframes hide {
	from {
		right: 0;
	}
	to {
		right: -200px;
	}
}
