.container {
	position: fixed;
	top: 150px;
	right: 0px;
	display: flex;
	min-width: 200px;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 4px 0 0 4px;
	z-index: 100;
}

.hidden {
	transform: translateX(100%);
	animation: hide 0.2s ease;
}

.showed {
	transform: translateX(0%);
	animation: show 0.2s ease;
}

.container p {
	width: calc(100% - 30px);
	padding: 0 5px;
	text-align: center;
	@apply text-base text-white;
}

.icon {
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon svg {
	stroke: #fff;
	@apply w-6 w-6;
}

@keyframes show {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes hide {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}
