.book {
    position: relative;

    width: 262px;
    height: 350px;
}

.bookCover {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    background: #111;
    background-size: 100% 100%;
    border-radius: 3px;
    box-shadow: inset 4px 1px 3px #ffffff60,
                inset 0 -1px 2px #00000080;

    transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bookEffect {
    width: 20px;
    height: 100%;
    margin-left: 10px;
    border-left: 2px solid #00000010;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 0%,
                                             rgba(255,255,255,0) 100%);
    transition: all .5s ease;
}

.bookLight {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 90%;
    height: 100%;
    
    border-radius: 3px;
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%,
                                             rgba(255,255,255,0.2) 100%);
    
    opacity: .1;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.bookInside {
    position: relative;
    top: 2%;
    
    width: calc(100% - 2px);
    height: 96%;
    
    border: 1px solid grey;
    border-radius: 3px;
    background: white;
    box-shadow: 10px 0px 40px -10px #00000073, 
                     inset -2px 0 0 grey,  
                     inset -3px 0 0 #dbdbdb, 
                     inset -4px 0 0 white, 
                     inset -5px 0 0 #dbdbdb, 
                     inset -6px 0 0 white, 
                     inset -7px 0 0 #dbdbdb, 
                     inset -8px 0 0 white, 
                     inset -9px 0 0 #dbdbdb;
}

.bookInfo {
    padding: 10px;
    margin-top: 10px;
}

.book:hover .bookCover {
    transform: perspective(2000px) rotateY(-30deg);
    -webkit-transform: perspective(2000px) rotateY(-30deg);

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    
    box-shadow: inset 4px 1px 3px #ffffff60,
                inset 0 -1px 2px #00000080, 
                10px 0px 10px -5px #00000030;
}