.container {
	width: 100%;
}

.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 3px;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	background-color: #fff;
}

.filter p {
	color: #242a31;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	padding-left: 15px;
}

.filters {
	display: flex;
}

.filterItem {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.tableContainer {
	width: 100%;
	overflow-x: scroll;
}
