.container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 1300px;

    margin: 0 auto;
    padding: 30px 0;
}

.btn {
    width: fit-content;

    padding: 10px 20px;

    border-radius: 3px;
    background-color: #36bbcb;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 18px;
}

.contentBlock {
    display: flex;
    gap: 20px;

    width: 100%;
}

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 25%;
}

.qr,
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;

    padding: 25px;

    background-color: #ffffff;
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
    border-radius: 12px;
    border: 1px solid #ececec;
}

.qrImg {
    width: 80%;
    height: auto;

    padding: 10% 0;
}

.sideBarLink {
    width: 100%;

    padding: 10px 0;

    border-radius: 3px;

    color: #13444a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.17px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}
.bg_a9e2e9 {
    background-color: #a9e2e9;
}
.bg_ffbb68 {
    background-color: #ffbb68;
}

.bookProfile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    width: 75%;
    height: fit-content;

    padding: 25px;

    background-color: #ffffff;
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
    border-radius: 12px;
    border: 1px solid #ececec;
}

.bookImg {
    width: 25%;
    height: 320px;
    max-height: 320px;
    
    background: #111;
    background-size: 100% 100%;
    border-radius: 3px;
    box-shadow: inset 4px 1px 3px #ffffff60,
                inset 0 -1px 2px #00000080;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    width: 75%;
}

.bookInfoTop {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.bookStatus {
    width: fit-content;

    padding: 10px 20px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.17px;

    background-color: #36bbcb;
    border-radius: 2px;
}

.bookName {
    color: #242a31;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.21px;
}

.extendedBookInfo {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.singleBookParameter {
    display: flex;
    align-items: center;

    width: 100%;

    padding: 8px 24px;
    border-radius: 3px;
}

.singleBookParameter:nth-child(odd) {
    background-color: #ecf3fc;
}

.value {
    width: 120px;
    font-size: 16px;
}

.key {
    font-size: 16px;
    font-weight: 600;
}