.window {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
    transform: scale(0);
	/* display: none; */
}
.window.active {
    transform: scale(1);
}
.window form {
	width: 700px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 20px;
}
.formInput {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* justify-content: flex-start; */
}
.formInput p {
	/* color: white; */
	font-size: 17px;
	margin-bottom: 10px;
}
.formInput input {
	width: 100%;
	height: 50px;
	padding-left: 20px;
	font-size: 20px;
	outline: none;
}
.addReaders {
	width: 50%;
	height: 50px;
	background-color: #36bbcb;
	margin-top: 20px;
	text-align: center;
	color: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
	/* margin-left: 25%; */
}
.window .closeBtn {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.window .closeBtn button {
	cursor: pointer;
}