.container {
	width: 100%;
	display: none;
	justify-content: center;
	@apply xl:flex;
}

.inner {
	width: 1340px;
	padding: 0 20px;
	display: flex;
	@apply justify-between;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 800;
	font-size: 12px;
	width: 100%;
	padding: 0 10px;
	cursor: pointer;
	height: 60px;
	text-decoration: none;
	outline: none;
}

.container .item:first-child {
	border-radius: 3px 0px 0px 3px;
}

.container .item:last-child {
	border-radius: 0px 3px 3px 0px;
}

.notActive {
	background-color: #fff;
	color: #5c6167;
	text-decoration: none;
	text-align: center;
}

.isActive {
	background-color: #36bbcb;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.columnContainer {
	position: absolute;
	display: flex;
	top: 110px;
	@apply xl:hidden;
}

.showed {
	left: 0;
}

.show {
	animation: show 0.2s ease;
}

.hidden {
	left: -250px;
}

.hide {
	animation: hide 0.2s ease;
}

.scrollItems {
	background-color: #fff;
	border-radius: 0 0 10px 0;
	border: 2px solid #dae3ef;
	overflow-y: scroll;
	height: 450px;
	width: 250px;
}

.showButton {
	background-color: #dae3ef;
	width: 40px;
	height: 40px;
	border-radius: 0 8px 8px 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 4px;
}

.showButton svg {
	stroke: #fff;
	width: 25px;
	height: 25px;
}

.closed {
	transform: rotate(180deg);
}

.opened {
	transform: rotate(0deg);
}

.close {
	animation: turnLeft 0.2s ease;
}

.open {
	animation: turnRight 0.2s ease;
}

@keyframes show {
	from {
		left: -250px;
	}
	to {
		left: 0;
	}
}

@keyframes hide {
	from {
		left: 0;
	}
	to {
		left: -250px;
	}
}

@keyframes turnLeft {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes turnRight {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(0deg);
	}
}
