.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.inner {
	width: 1300px;
	display: flex;
	justify-content: space-between;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 800;
	font-size: 12px;
	width: 100%;
	padding: 0 10px;
	cursor: pointer;
	height: 60px;
	text-decoration: none;
	border-right: 1px solid #c1c1c1;
}

.item:first-child {
	border-radius: 10px 0px 0px 10px;
}

.item:last-child {
	border-radius: 0px 10px 10px 0px;
	border-right: none;
}

.notActive {
	background-color: #fff;
	color: #5c6167;
}

.isActive {
	background-color: #36bbcb;
	color: #fff;
}
