.container {
	width: 100%;
	display: none;
	justify-content: center;
	@apply xl:flex;
}

.inner {
	width: 1340px;
	padding: 0 20px;
	display: flex;
	@apply justify-between;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 800;
	font-size: 12px;
	width: 100%;
	padding: 0 10px;
	cursor: pointer;
	height: 60px;
	text-decoration: none;
	outline: none;
}

.container .item:first-child {
	border-radius: 3px 0px 0px 3px;
}

.container .item:last-child {
	border-radius: 0px 3px 3px 0px;
}

.notActive {
	background-color: #fff;
	color: #5c6167;
	text-decoration: none;
	text-align: center;
}

.isActive {
	background-color: #36bbcb;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.columnContainer {
	position: absolute;
	top: 110px;
	display: flex;
	background-color: #fff;
	border-radius: 0 10px 10px 0;
	overflow: hidden;
	height: 400px;
	width: 300px;
	@apply xl:hidden;
}

.showed {
	left: 0;
}

.show {
	animation: show 0.2s ease;
}

.hidden {
	left: -280px;
}

.hide {
	animation: hide 0.2s ease;
}

.scrollItems {
	width: 280px;
	overflow-y: scroll;
	padding: 0;
}

.showButton {
	width: 20px;
	height: 100%;
	background-color: #dae3ef;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertBar {
	width: 5px;
	height: 100px;
	background-color: #d3d3d4;
	border-radius: 5px;
}

@keyframes show {
	from {
		left: -280px;
	}
	to {
		left: 0;
	}
}

@keyframes hide {
	from {
		left: 0;
	}
	to {
		left: -280px;
	}
}
