.popup-content {
	position: absolute !important;
	top: 40% !important;
	left: 50% !important;

	width: fit-content !important;
	height: fit-content !important;
	max-width: 700px !important;
	min-width: 500px !important;
	max-height: 70vh !important;

	background-color: #fff;
	background-clip: padding-box;
	border-radius: 6px;

	transform: translate(-50%, -40%);
	-webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	outline: 0;
}

.popup-arrow {
	display: none !important;
	color: rgb(255, 255, 255);
}

[role='modal'].popup-content {
	width: 200px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}

[data-popup='modal'].popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}
