.container {
    width: 100%;
    height: 500px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7fafe;
}
.cabinetTitle {
    font-size: 22px;
    font-weight: 600;
    width: 1300px;
    margin-bottom: 33px;
}
.block {
    width: 1300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.qrBlock {
    width: 234px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf3fc;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
    padding-top: 25px;
}
.qrBlock p {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    /* height: 40px; */
}
.qrCode {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.editBlock {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf3fc;
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
    padding-top: 25px;
    border-radius: 12px;
}
.editBlock p {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    /* height: 40px; */
}
.buttonBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    
    padding: 25px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.buttonBlock > * {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}
.buttonBlock button:nth-child(1) {
    background-color: #a9e2e9;  
}
.buttonBlock button:nth-child(2) {
    background-color: #ffbb68;  
}
.buttonBlock button:nth-child(3) {
    background-color: #ffa468;  
}
.calendarBlock {
    width: 825px;
    height: 100%;
    background-color: #ecf3fc;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    /* TODO: При добавлении календаря, поменяять на space-between */
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
}
.infoBlock {
    width: 60%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.calendar {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subFormTable {
    display: table;
    border: 2px solid #ddd;
    width: 100%;
}

.subFormTableRow {
    display: table-row;
}

.subFormTableRow > div {
    width: 35%;
    height: 64px;
    text-align: center;
    vertical-align: middle;
}

.subFormTableRow > div:first-child {
    width: 30%;
    text-align: left;
}

.subFormTableCell {
    display: table-cell;

    padding: 10px;
    box-shadow: 0 0 0 1px #ddd;
}

.formFullWCell {
    display: flex;
    align-items: center;

    height: 64px;

    padding: 10px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.tableHeaderRow {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #242A31;

    background-color: #ecf3fc;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
}

.singleFormField {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
}

.formLabel {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.1875px;
}

.formInput  {
    width: 100%;

    padding: 17px 24px;

    color: #555;
    font-size: 14px;
    line-height: 1.42857143;
    
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;

    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
@media screen and (min-width: 0px) {
    .container {
        height: 1300px;
    }
    .qrBlock {
        margin-bottom: 50px;
    }
    .editBlock {
        margin-bottom: 50px;
    }
    .block {
        min-height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .cabinetTitle {
        width: 260px;
        text-align: center;
    }
}
@media screen and (min-width: 1025px) {
    .container {
        height: 500px;
    }
    .block {
        flex-direction: row;
        justify-content: center;
    }
    .qrBlock {
        text-align: center;
        width: 150px;
        margin: 0 20px;
    }
    .editBlock {
        margin-bottom: 0;
        width: 150px;
    }
    .cabinetTitle {
        width: 1025px;
    }
}
@media screen and (min-width: 1440px) {
    .qrBlock {
        width: 234px;
        margin: 0 20px;
    }
    .editBlock {
        width: 200px;
    }
    .cabinetTitle {
        width: 1300px;
        text-align: left;
    }
}