.container {
    width: 100%;
    height: 500px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7fafe;
}
.cabinetTitle {
    font-size: 22px;
    font-weight: 600;
    width: 1300px;
    margin-bottom: 33px;
}
.block {
    width: 1300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.qrBlock {
    width: 234px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf3fc;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
    padding-top: 25px;
}
.qrBlock p {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    /* height: 40px; */
}
.qrCode {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.editBlock {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf3fc;
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
    padding-top: 25px;
    border-radius: 12px;
}
.editBlock p {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    /* height: 40px; */
}
.buttonBlock {
    width: 100%;
    height: 100%;
    background-color: white;
    /* border-radius: 12px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.buttonBlock button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 10px;
}
.buttonBlock button:nth-child(1) {
    background-color: #a9e2e9;  
}
.buttonBlock button:nth-child(2) {
    background-color: #ffbb68;  
}
.buttonBlock button:nth-child(3) {
    background-color: #ffa468;  
}
.calendarBlock {
    width: 825px;
    height: 100%;
    background-color: #ecf3fc;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    /* TODO: При добавлении календаря, поменяять на space-between */
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
}
.infoBlock {
    width: 60%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.calendar {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}