.container {
	width: 100%;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f7fafe;
}
.cabinetTitle {
	font-size: 22px;
	font-weight: 600;
	width: 100%;
	max-width: 1300px;
	margin-bottom: 33px;
}
.block {
	max-width: 1300px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@apply flex-col gap-5 lg:flex-row;
}

.qrAndEdit {
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	@apply w-full gap-5 flex-col 
		sm:flex-row 
		lg:flex-col 
		xl:flex-row xl:gap-3;
}

.qrBlock {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ecf3fc;
	border-radius: 12px;
	box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
	overflow: hidden;
	@apply w-full pt-5 sm:w-1/2
		lg:w-full lg:h-80px lg:pt-0
		xl:w-1/2 xl:h-300 xl:pt-5;
}
.qrBlock p {
	margin-bottom: 20px;
	color: black;
	@apply text-base lg:text-sm xl:text-base lg:hidden xl:block;
}
.qrCode {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: white;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.qrCode img {
	height: 100%;
	@apply inline lg:hidden xl:inline;
}

.qrCode button {
	border-radius: 13px;
	@apply text-base hidden bg-green-200 w-full h-full
	lg:block xl:hidden;
}

.editBlock {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ecf3fc;
	box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
	border-radius: 12px;
	overflow: hidden;
	@apply w-full pt-5 sm:w-1/2 
		lg:w-full lg:h-200 lg:pt-0
		xl:w-1/2 xl:h-300 xl:pt-5;
}
.editBlock p {
	margin-bottom: 20px;
	color: black;
	@apply text-base lg:text-sm xl:text-base lg:hidden xl:block;
}
.buttonBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;

	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	@apply p-5;
}
.buttonBlock > * {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	@apply h-12;
}
.buttonBlock > *:nth-child(1) {
	background-color: #a9e2e9;
	@apply text-base;
}
.buttonBlock > *:nth-child(2) {
	background-color: #ffbb68;
	@apply text-base;
}
.buttonBlock > *:nth-child(3) {
	background-color: #ffa468;
	@apply text-base;
}
.calendarBlock {
	width: 825px;
	height: 100%;
	background-color: #ecf3fc;
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	/* TODO: При добавлении календаря, поменяять на space-between */
	box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
}
.infoBlock {
	width: 60%;
	height: 100%;
	background-color: white;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
.calendar {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.subFormTable {
	display: table;
	border: 2px solid #ddd;
	width: 100%;
}

.subFormTableRow {
	display: table-row;
}

.subFormTableRow > div {
	width: 35%;
	height: 64px;
	text-align: center;
	vertical-align: middle;
}

.subFormTableRow > div:first-child {
	width: 30%;
	text-align: left;
}

.subFormTableCell {
	display: table-cell;

	padding: 10px;
	box-shadow: 0 0 0 1px #ddd;
}

.formFullWCell {
	display: flex;
	align-items: center;

	height: 64px;

	padding: 10px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
}

.tableHeaderRow {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.2px;
	color: #242a31;

	background-color: #ecf3fc;
}

.formFields {
	display: flex;
	flex-direction: column;
	gap: 15px;

	width: 100%;
}

.singleFormField {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 100%;
}

.formLabel {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.1875px;
}

.formInput {
	width: 100%;

	padding: 17px 24px;

	color: #555;
	font-size: 14px;
	line-height: 1.42857143;

	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;

	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

@media screen and (min-width: 1024px) {
	.qrAndEdit {
		width: calc(100% - 700px);
	}
}
