.container {
	position: relative;

	display: flex;
	flex-direction: column;

	@apply w-full md:w-3/5;
}

.absolute {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.bookName {
	padding: 20px 0 10px;
	color: #f37121;
	@apply text-2xl font-medium sm:text-3xl;
}

.listParams {
	display: flex;
	flex-direction: column;
	gap: 10px;

	list-style: none;
}

.singleParam {
	display: flex;
	flex-direction: column;

	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
}

.paramKey {
	color: #333;
	@apply text-sm font-light sm:text-base;
}

.paramValue {
	color: #000;
	@apply text-sm font-semibold sm:text-base;
}
