.container {
	display: flex;
	align-items: center;

	padding: 20px;

	color: #000;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.7;

	border: 1px solid #efefef;

	-webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 3%);
	box-shadow: 0 3px 5px 0 rgb(0 0 0 / 3%);

	@apply w-full flex-col gap-2
    sm:flex-row sm:gap-8 
    xl:w-auto xl:flex-col xl:gap-2;
}

.btn {
	width: 100%;

	padding: 14px 20px;
	border-radius: 3px;

	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: -0.175px;
	color: #fff;
}
