.bookCatalog {
    width: 100%;
    padding: 50px 0;
    background-color: var(--bg);
}

.bookContainer {
    display: flex;
    flex-direction: column;
    gap: 35px;
    
    max-width: 1324px;
    padding: 0 12px;
    margin: 0 auto;
}