.container {
	max-width: 1340px;
	margin: 0 auto;
	padding: 20px;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.header {
	width: 100%;
	font-size: 20px;
	margin-bottom: 20px;
}

.header a {
	width: 200px;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	background-color: #36bbcb;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.dateInput:before {
	font-family: 'Avenir Next', sans-serif;
	width: 100%;
	content: attr(placeholder);
}

.container label {
	width: 100%;
}

.container label p {
	font-size: 18px;
	margin: 10px 0 5px;
}

.container label input {
	width: 100%;
	padding: 10px 10px;
	outline: none;
	font-size: 18px;
	background: #f7fafe;
	border: 1px solid #dedede;
	box-sizing: border-box;
	border-radius: 3px;
}

.dateInput:before {
	font-family: 'Avenir Next', sans-serif;
	width: 100%;
	content: attr(value);
}

.container button {
	margin-top: 20px;
	margin-bottom: 280px;
	padding: 0 20px;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	background-color: #36bbcb;
}
