.container {
    position: relative;
    display: inline-block;

    width: 60%;
    max-width: 360px;

    margin-top: 35px;
    margin-left: -20px;
    box-shadow: 15px 8px 15px #00000055;

    background-color: #ddd;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    transform: perspective(1000px) rotateY(-15deg);
    transition: 0.4s;
}

.container:hover {
    transform: rotateZ(-5deg);
}

.insetShadow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    
    background-image:
        linear-gradient( to bottom right, #ffffff11 10%,transparent ),
        linear-gradient(to top left, #00000033 20%, transparent);
}

.backCover {
    display: block;
    position: absolute;
    top: 5px;
    left: 100%;

    width: 8%;
    height: calc(100% - 10px);
    
    background-color: #ddd;
    background-size: 100% 500%;
    box-shadow:
        inset 0 0 5px #00000055,
        inset 0 0 2px #ffffffdd;

    z-index: -1;
}

.backCover::before {
    content: "";

    position: absolute;
    top: 4px;
    right: 4px;

    width: 20px;
    height: calc(100% - 8px);
    
    background-image: linear-gradient(to right, #999 5%, #efefef 40%);
    box-shadow: inset 0 0 1px #aaa;
}