.container {
	width: 100%;
	gap: 5px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@apply sm:flex-row;
}

.filters {
	display: flex;
	flex-direction: column;
	gap: 5px;
	@apply w-full sm:flex-row sm:w-9/12;
}

.filters input {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	outline: none;
	@apply sm:w-1/2;
}

.filters input:before {
	font-family: 'Avenir Next', sans-serif;
	color: #555;
	width: 100%;
	content: attr(value);
	@apply text-base;
}

.addActivity {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	background-color: #fdbc4b;
	@apply md:w-3/12;
}
