.container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 60%;
    height: 100%;
}

.container h2 {
    width: calc(100% - 10px);
    margin: 0 auto 33px;
}

.tableTopBar {
    width: 100%;
    padding: 0 5px;
}

.tableTitleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    max-height: 50px;

    background-color: #e8eef6;
    border-radius: 3px;
    padding: 20px 15px;
}

.tableTitleBlock > * {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 600;
    width: 20%;
}

.tableTitleBlock > *:nth-child(1) {
    justify-content: flex-start;
    width: 40%;
}

.bookBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    max-height: 400px;
    padding: 0 5px 5px;

    overflow-y: scroll;
}


.singleBookHistoryContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-height: 55px;

    padding: 20px 7.5px 20px 16px;

    background-color: #ffffff;

    box-shadow: 0 1px 4px rgb(30 37 82 / 24%);
    border-radius: 3px;
}

.singleBookHistoryContainer > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleBookHistoryContainer > *:first-child {
    justify-content: start;
}

.bookName {
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 18px;
}

.bookName:hover {
    color: #36bbcb !important;
    cursor: pointer;
}

.dateInfo {
    width: 20%;
    text-align: center;
}

.bookStatus {
    display: flex;
    justify-content: center;
    width: 20%;

    padding: 0 2%;
}

.bookStatusValue {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    
    border-radius: 3px;
}

.categoryBtns > * {
    display: flex;
    align-items: center;
    justify-content: center;

    max-height: 40px;

    padding: 16px;

    border-radius: 3px;
    color: white;
}

.categoryEdit {
    background: #36BBCB;
}

.categoryDelete {
    background: #F54B23;
}
@media screen and (min-width: 0px) {
    .container {
        width: 100%;
        margin-top: 50px;
        overflow-x: scroll;
    }
    .tableTopBar {
        width: 750px;
    }
    .bookBlock {
        width: 750px;
    }
}
@media screen and (min-width: 1025px) {
    .container {
        width: 60%;
        margin-top: 0;
    }
}