.container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
}
.container h2 {
    margin-bottom: 33px;
}
.tableTitleBlock {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e8eef6;
    border-radius: 3px;
    padding: 0 20px;
}
.tableTitleBlock p {
    font-size: 14px;
    font-weight: 600;
    margin-right: 30px;
}
.tableTitleBlock p:nth-child(1) {
    margin-right: 300px;
}
.tableTitleBlock p:last-child {
    margin-right: 0;
}
.bookBlock {
    width: 100%;
    height: 75px;
    box-shadow: 0 1px 7px rgb(30 37 82 / 24%);
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}