.popup-arrow {
	display: none;
}

[role='tooltip'].popup-content {
	font-family: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
	top: 50% !important;
	left: 50% !important;
	width: 1000px !important;
	min-height: 400px !important;
	overflow-y: scroll !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
	transform: translate(-50%, -50%) !important;
	-webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%) !important;
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%) !important;
	outline: none !important;
}

.popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}
