.container {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	background: transparent;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-image: url(./images/background.png);
	background-size: cover;
	background-position: center center;
	z-index: 5;
}

.inner {
	max-width: 1340px;
	width: 100vw;
	padding: 0 20px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 6;
}

.logo {
	width: 150px;
	height: 45px;
	background-image: url(./images/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.navlinksBlock {
	width: 850px;
	height: 30px;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	@apply lg:flex;
}

.link {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.blueLink {
	color: white;
	text-decoration: none;
	font-size: 16px;
	width: 180px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #36bbcb;
}

.burger {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	@apply lg:hidden;
}
.burger svg {
	width: 30px;
	height: 30px;
	stroke: white;
}
.menu {
	position: absolute;
	height: calc(100vh - 100px);
	background-color: #fff;
	z-index: 4;
	width: 100%;
	border-bottom: 4px solid #d1d1d1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@apply lg:hidden;
}

.columnMenu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.item {
	width: 100%;
	height: 100px;
	padding: 20px;
	display: flex;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	align-items: center;
	justify-content: center;
	@apply transition-all duration-75;
}

.isActive {
	color: #fff;
	background-color: #36bbcb;
}

.notActive {
	color: #000;
	background-color: transparent;
}

.contacts {
	margin-top: auto;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #d1d1d1;
}

.contacts p {
	font-size: 18px;
	font-weight: 500;
}
