.container {
    width: 1300px;
    height: 351px;
}
.container h1 {
    margin-bottom: 33px;
}
.calendar {
    width: 350px;
    height: 100%;
    background-color: #ebf2fb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendarBlock {
    width: 1300px;
    height: 291px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: white;
    -webkit-box-shadow: 0 1px 7px rgb(30 37 82 / 24%);
    -moz-box-shadow: 0 1px 7px rgb(30 37 82 / 24%);
    box-shadow: 0 1px 7px rgb(30 37 82 / 24%);
}
.input {
    display: flex;
    flex-direction: column;
}