.containerItem {
	@apply text-center sm:text-left
	flex flex-col-reverse 
	gap-2 items-center justify-center sm:flex-row;
}
.itemImg {
	width: 40px;
	height: 40px;
	padding: 10px 10px;
	background-color: #545868;
	@apply hidden sm:inline;
}
.containerTexts {
	display: flex;
	flex-direction: column;
}
.itemImgLogo {
	width: 130px;
	@apply mt-3 sm:mt-0;
}
.itemImgPoint {
	width: 40px;
	height: 40px;
	padding: 10px 12px;
	background-color: #545868;
	@apply hidden sm:inline;
}
.itemText {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}
.itemText span {
	color: #36bbcb;
	text-decoration: underline;
}
