.container {
	width: 100%;
	min-height: 40px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 5px;
	@apply sm:flex-row;
}

.search {
	display: flex;
	height: 40px;
	width: 100%;
	border: 1px solid #c7d2e6;
	border-radius: 3px;
	overflow: hidden;
}

.search button {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.search svg {
	width: 20px;
	height: 20px;
	stroke: #5c6167;
}

.search input {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	padding-left: 15px;
}

.buttons {
	display: flex;
	width: 100%;
	gap: 5px;
	@apply sm:w-96;
}

.addBook {
	height: 40px;
	width: 60%;
	border-radius: 3px;
	background-color: #36bbcb;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}

.categories {
	height: 40px;
	width: 40%;
	border-radius: 3px;
	background-color: #f5a623;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}

.filter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 3px;
	width: 100%;
	padding: 5px 10px;
	min-height: 40px;
	margin-top: 10px;
	background-color: #fff;
	@apply sm:flex-row usm:items-center;
}

.filter p {
	color: #242a31;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.filters {
	display: flex;
	flex-direction: column;
	@apply usm:flex-row;
}

.filterItem {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.filterItem p {
	color: #242a31;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	padding-left: 10px;
}
