* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	background-color: var(--bg);
}

button {
	outline: none;
	border: 0;
	background: transparent;
	transition: .2s;
}

button:hover {
	opacity: .8;
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100vh;
}

.router {
	min-height: calc(100vh - 203px);
}

.hiddenForMenu {
	height: 100vh;
	overflow-y: hidden;
}

@font-face {
	font-family: 'Avenir Next Ultra';
	src: url('../src/assets/fonts/AvenirNext-UltraLight.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Ultra';
	src: url('../src/assets/fonts/AvenirNext-UltraLightItalic.woff2')
			format('woff2'),
		url('../src/assets/fonts/AvenirNext-UltraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../src/assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../src/assets/fonts/AvenirNext-Medium.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../src/assets/fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../src/assets/fonts/AvenirNext-HeavyItalic.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../src/assets/fonts/AvenirNext-Italic.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../src/assets/fonts/AvenirNext-Heavy.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Demi';
	src: url('../src/assets/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-DemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Demi';
	src: url('../src/assets/fonts/AvenirNext-DemiBoldItalic.woff2')
			format('woff2'),
		url('../src/assets/fonts/AvenirNext-DemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../src/assets/fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../src/assets/fonts/AvenirNext-Bold.woff2') format('woff2'),
		url('../src/assets/fonts/AvenirNext-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
