.container {
	width: 100%;
	height: 560px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position: center;
}

.inner {
	max-width: 1340px;
	width: 100vw;
	padding: 0 20px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 12;
}

.burger {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	@apply lg:hidden;
}

.burger svg {
	width: 30px;
	height: 30px;
	stroke: white;
}

.header {
	background-color: #dbdbdb;
	width: 100%;
	height: 100px;
	display: block;
}

.menu {
	position: absolute;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
	z-index: 11;
	width: 100%;
	border-bottom: 4px solid #d1d1d1;
	@apply lg:hidden;
}

.showedMenu {
	top: 0vh;
}

.hiddenMenu {
	top: -100vh;
}

.showingMenu {
	animation: show 0.2s ease;
}

.hidingMenu {
	animation: hide 0.2s ease;
}

.columnMenu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.item {
	width: 100%;
	height: 100px;
	padding: 20px;
	display: flex;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	align-items: center;
	justify-content: center;
	@apply transition-all duration-75;
}

.isActive {
	color: #fff;
	background-color: #36bbcb;
}

.notActive {
	color: #000;
	background-color: transparent;
}

.contacts {
	margin-top: auto;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #d1d1d1;
}

.contacts a {
	font-size: 12px;
	font-weight: 500;
}

.logo {
	width: 150px;
	height: 45px;
	background-image: url(./images/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.navlinksBlock {
	width: 850px;
	height: 30px;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	@apply lg:flex;
}

.link {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.blueLink {
	color: white;
	text-decoration: none;
	font-size: 16px;
	width: 180px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #36bbcb;
}

.videoTag {
	align-self: center;
	position: fixed;
	min-width: 1920px;
	width: 100vw;
	z-index: -1;
}

.blueFilter {
	width: 100%;
	height: 560px;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	background-color: rgba(27, 96, 104, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerSearch {
	display: flex;
	flex-direction: column;
	align-content: center;
	z-index: 10;
	margin-top: 80px;
	text-align: center;
}
.headerSearch h1 {
	font-size: 42px;
	font-weight: 500;
	color: white;
	margin-bottom: 10px;
}
.headerSearch p {
	font-size: 18px;
	color: white;
}
.inputBlock {
	margin-top: 20px;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.searchIcon {
	height: 100%;
	padding: 0 20px;
	background-color: white;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #c9c9c9;
}
.searchIcon svg {
	width: 20px;
	height: 20px;
	stroke: #c9c9c9;
}
.inputBlock input {
	width: 500px;
	height: 100%;
	outline: none;
	padding: 10px;
}
.inputBlock button {
	width: 102px;
	height: 100%;
	color: white;
	background-color: #36bbcb;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
@media screen and (min-width: 0px) {
	.headerSearch {
		width: 450px;
	}

	.headerSearch h1 {
		font-size: 38px;
	}
}
@media screen and (min-width: 768px) {
	.headerSearch {
		width: 550px;
	}

	.headerSearch h1 {
		font-size: 40px;
	}
}
@media screen and (min-width: 1025px) {
	.headerSearch {
		width: 650px;
	}

	.headerSearch h1 {
		font-size: 42px;
	}
}

@keyframes show {
	from {
		top: -100vh;
	}
	to {
		top: 0vh;
	}
}

@keyframes hide {
	from {
		top: 0vh;
	}
	to {
		top: -100vh;
	}
}
