.container {
	width: 100%;
	height: 560px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position: center;
}

.inner {
	max-width: 1340px;
	width: 100vw;
	padding: 0 20px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 12;
}

.burger {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	@apply lg:hidden;
}

.burger svg {
	width: 30px;
	height: 30px;
	stroke: white;
}

.logo {
	width: 150px;
	height: 45px;
	background-image: url(./images/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.navlinksBlock {
	width: 850px;
	height: 30px;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	@apply lg:flex;
}

.link {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.blueLink {
	color: white;
	text-decoration: none;
	font-size: 16px;
	width: 180px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #36bbcb;
}
