.container {
	width: 100%;
	max-width: 1300px;
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	@apply sm:flex-row;
}

.input {
	display: flex;
	width: 100%;
	height: 100%;
	@apply sm:w-full;
}

.addBtn {
	height: 40px;
	width: 100%;
	border-radius: 3px;
	background-color: #36bbcb;
	text-align: center;
	color: white;
	font-size: 16px;
	border: none;
	@apply sm:w-4/12 sm:px-2;
}

.input button {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid #c7d2e6;
	border-left: none;
	border-radius: 3px 0px 0px 3px;
}

.input svg {
	width: 20px;
	height: 20px;
	stroke: #5c6167;
}

.input input {
	width: calc(100% - 40px);
	height: 40px;
	outline: none;
	border: 1px solid #c7d2e6;
	border-right: none;
	padding-left: 20px;
}
