.btn {
	padding: 15px 31px;

	border-radius: 4px;
	background-color: #36bbcb;

	color: #ffffff;
	font-size: 16px;
	font-weight: 500;

	@apply w-full sm:w-auto;
}

.btn:hover {
	background-color: #2ea8b7;
	cursor: pointer;
}
