.container {
	width: 100%;
	padding: 0 20px;
	height: 70vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	max-width: 500px;
}

.caption {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 20px;
}

.link {
	transition: 0.2s;
	margin-top: 20px;
	color: #3b6d9a;
	font-size: 14px;
}

.link:hover {
	color: #36bbcb;
}
