.headerNav {
	display: flex;
}
.navLink {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.navLinkPlay {
	margin-right: 8px;
}
.navLink:last-child {
	padding: 7px 19px;
	background-color: #36bbcb;
}
.navLink:hover {
	opacity: 0.8;
}
.navLink + .navLink {
	margin-left: 18px;
}
@media (max-width: 768px) {
	.headerNav {
		display: none;
	}
}
