.container {
	height: 460px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.videoTag {
	align-self: center;
	position: fixed;
	min-width: 1920px;
	width: 100vw;
	z-index: -1;
}

.blueFilter {
	width: 100%;
	height: 560px;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	background-color: rgba(27, 96, 104, 0.451);
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerSearch {
	display: flex;
	flex-direction: column;
	align-content: center;
	z-index: 10;
	text-align: center;
}
.headerSearch h1 {
	font-size: 42px;
	font-weight: 500;
	color: white;
	margin-bottom: 10px;
}
.headerSearch p {
	font-size: 18px;
	color: white;
}
.inputBlock {
	margin-top: 20px;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
/* .searchIcon {
	height: 100%;
	padding: 0 20px;
	background-color: white;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #c9c9c9;
}
.searchIcon svg {
	width: 20px;
	height: 20px;
	stroke: #c9c9c9;
} */
.inputBlock input {
	caret-color: transparent;
	width: 500px;
	height: 100%;
	outline: none;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	@apply transition-colors focus:bg-slate-200;
}

.inputBlock input::-webkit-input-placeholder {
	@apply text-slate-800;
}

.inputBlock input::-webkit-input-placeholder {
	@apply text-slate-800;
}

.inputBlock input:-moz-placeholder {
	text-align: center;
}

.inputBlock button {
	width: 102px;
	height: 100%;
	color: white;
	background-color: #36bbcb;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.searchResult {
	z-index: 40;
	max-height: 400px;
	overflow-y: scroll;
	position: absolute;
	border-radius: 5px;
	left: 50%;
	overflow-x: hidden;
	transform: translateX(-50%);
	@apply bg-slate-200;
}
.searchResultLink {
	min-height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	@apply transition-colors bg-transparent hover:bg-blue-300;
}

.searchResultLink span:nth-child(1) {
	@apply w-1/2 text-left;
}

.searchResultLink span:nth-child(2) {
	@apply w-1/2 text-right;
}

@media screen and (min-width: 0px) {
	.headerSearch {
		width: 350px;
	}

	.searchIcon {
		display: none;
	}

	.inputBlock input {
		width: 280px;
	}

	.inputBlock button {
		width: 70px;
	}

	.headerSearch h1 {
		font-size: 38px;
	}

	.searchResult {
		width: 280px;
		top: 470px;
	}
}
@media screen and (min-width: 768px) {
	.headerSearch {
		width: 550px;
	}

	.searchIcon {
		display: flex;
	}

	.inputBlock input {
		width: 350px;
	}

	.headerSearch h1 {
		font-size: 40px;
	}
	.searchResult {
		width: 350px;
		top: 430px;
	}
}
@media screen and (min-width: 1025px) {
	.headerSearch {
		width: 650px;
	}

	.headerSearch h1 {
		font-size: 42px;
	}
}
