.search {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.input {
	display: flex;
	height: 100%;
}

.input button {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid #c7d2e6;
	border-left: none;
	border-radius: 3px 0px 0px 3px;
}

.input svg {
	width: 23px;
	height: 23px;
	stroke: #5c6167;
}

.input input {
	width: 300px;
	height: 50px;
	outline: none;
	border: 1px solid #c7d2e6;
	border-right: none;
	padding-left: 20px;
}

.addBtn {
	height: 50px;
	padding: 0 20px;
	background-color: #36bbcb;
	margin-left: 10px;
	text-align: center;
	color: white;
	font-size: 16px;
	border: none;
}
