.container {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 1300px;
	min-height: 50vh;

	padding: 5px 0 30px;
}

.keysBar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	padding: 11px;

	background-color: #dae3ef;
	border-radius: 3px;
}

.keysBar > * {
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.table {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 100%;
	max-height: 600px;

	overflow-y: scroll;
}

.tableEl {
	display: flex;

	width: 100%;
	max-height: 55px;
	padding: 0 11px;

	background-color: #fff;
	box-shadow: 0 1px 4px rgb(30 37 82 / 24%);
	border-radius: 3px;
}

.tableEl > * {
	display: flex;
	align-items: center;

	margin: 14px 0;

	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.link:hover {
	color: #36bbcb;
	transition: all 0.2s;
}

.status {
	display: flex;

	padding: 4px 0;
	margin: 10px 0;
	border-radius: 3px;
}

.btnsContainer {
	display: flex;
	gap: 10px;
}

.btn {
	padding: 11px 14px;

	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.row > *:nth-child(1) {
	padding-left: 15px;
	width: 30%;
	display: flex;
	align-items: center;
	transition: all 0.2s;
}

.row > *:nth-child(1):hover {
	color: #36bbcb;
	transition: all 0.2s;
}

.row > *:nth-child(2) {
	width: 15%;
}

.row > *:nth-child(3) {
	width: 20%;
}

.row > *:nth-child(4) {
	width: 17%;
}

.row > *:nth-child(5) {
	width: 8%;
	padding-left: 15px;
}

.row > *:nth-child(5) > * {
	cursor: pointer;
}

.row > *:nth-child(6) {
	width: 10%;
}
