.container {
	width: 800px;
	min-height: 300px;
	max-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
}
.calendarBlock {
	box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
	border-radius: 12px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* flex-direction: row; */
}
.calendar {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: #ecf3fc;
}
.newsBlock {
	width: 60%;
	height: 100%;
	background-color: white;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
@media screen and (min-width: 0px) {
	.container {
		width: 300px;
	}
	.calendarBlock {
		flex-direction: column;
		align-items: center;
	}
	.calendar {
		width: 100%;
	}
	.newsBlock {
		width: 100%;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 12px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		width: 365px;
	}
}
@media screen and (min-width: 1440px) {
	.container {
		width: 800px;
	}
	.calendarBlock {
		flex-direction: row;
		align-items: center;
	}
	.calendar {
		width: 40%;
	}
	.newsBlock {
		width: 60%;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 0px;
	}
}