.container {
    width: 75%;
}

.searchInputContainer {
    position: relative;
    width: 100%;
}

input.searchInput {
    width: 100%;
    padding: 17px 35px;

    color: #555;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0;
    
    outline: none;
    background-color: #fff;
    border: 1px solid #ccc;   
}

input.searchInput:active,
input.searchInput:focus {
    background-color: rgb(248, 248, 248);  
}

.searchIcon {
    position: absolute;
    top: 20px;
    left: 12px;
    
    color: #99a6c4;
    font-family: "Glyphicons Halflings";
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.searchIcon::before {
    content: "\e003";
}

.bookListContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}