.table {
	width: 1300px;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 50px;
	overflow-y: scroll;
}
.titleBlock {
	width: 100%;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #dae3ef;
	/* padding-right: 200px; */
	padding-left: 20px;
	border-radius: 3px;
}
.titleBlock p {
	/* font-weight: 600; */
	font-size: 14px;
	width: 400px;
	white-space: nowrap;
}
.infoBlock {
	width: 100%;
	min-height: 55px;
	margin-top: 10px;
	background-color: white;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgb(30 37 82 / 24%);
}
.infoBlock p {
	width: 400px;
	white-space: nowrap;
}
.infoBlock p:nth-child(2) {
	width: 400px;
}
.infoBlock p:nth-child(3) {
	width: 150px;
}
.infoBlock a {
	width: 120px;
	height: 40px;
	border-radius: 3px;
	background-color: #36bbcb;
	color: white;
	margin-left: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.infoBlock button {
	margin-left: 10px;
	width: 120px;
	height: 40px;
	background-color: red;
}

.tableContainer {
	width: 100%;
	overflow-x: scroll;
}
