.container {
	@apply w-screen h-screen flex items-center justify-center;
}
.block {
	width: 1300px;
	height: 500px;
	@apply p-4 rounded-xl border border-solid border-slate-400 flex justify-between;
	background-color: #ecf3fc;
}

.constact {
	@apply w-2/5 h-full ml-4;
}

.constact .infoBlock {
	@apply h-1/2 w-full	
	rounded-xl 
	flex flex-col items-center 
	border border-solid border-slate-400;
}

.personal {
	@apply w-1/5 h-full
	rounded-xl 
	flex flex-col items-center 
	border border-solid border-slate-400;
}

.title {
	@apply w-full h-14 bg-white text-center rounded-t-xl flex items-center justify-center;
}
.mainPart {
	/* height: 100% */
	@apply w-full h-full p-4 flex justify-center;
}
.mainPart a {
	@apply max-w-full text-sky-600;
}

.mainPart img {
	/* @apply w-full h-full; */
	height: 400px;
}