.container {
    width: 25%;
    height: fit-content;

    padding: 20px;

    border: 1px solid #efefef;

    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 3%);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 3%);
}

.caption {
    padding: 10px 0 20px;

    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
}

.categoryList {
    list-style: none;
}

.singleCategory {
    padding: 14px;
    border-top: 1px solid #e8e8e8;
}

.categoryLink {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding-left: 10px;

    color: #000;
    font-weight: 400;
    line-height: 1.2;

    cursor: pointer;
}

.categoryLink:hover {
    color: #36bbcb;
    transition: 0.2s;
}

.activeCategoryLink {
    color: #36bbcb !important;
}