.container {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
    background-color: #f7fafe;
}
.block {
    width: 1300px;
    height: 100%;
}
.block h1 {
    font-size: 22px;
    margin-bottom: 33px;
}
.alertBlock {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 7px rgb(30 37 82 / 24%);
    padding-left: 20px;
    padding-right: 20px;
}
.alertBlock p:nth-child(1) {
    margin-right: 200px;
}
.alertBlock p:nth-child(2) {
    margin-right: 680px;
}
.alertBlock p:nth-child(3) {
    margin-right: 20px;
}
.alertBlock p:nth-child(4) {
    justify-content: flex-end;
}
@media screen and (min-width: 0px) {
    .block {
        width: 90%;
    }
    .alertBlock p {
        white-space: nowrap;
        text-align: center;
    }
    .alertBlock p:nth-child(1) {
        margin-right: 20px;
    }
    .alertBlock p:nth-child(2) {
        margin-right: 10px;
    }
    .alertBlock p:nth-child(3) {
        margin-right: 20px;
    }
    .alertBlock p:nth-child(4) {
        justify-content: flex-end;
    }
}
@media screen and (min-width: 1025px) {
    .block {
        width: 1000px;
    }
    .alertBlock p:nth-child(1) {
        margin-right: 100px;
    }
    .alertBlock p:nth-child(2) {
        margin-right: 340px;
    }
    .alertBlock p:nth-child(3) {
        margin-right: 150px;
    }
    .alertBlock p:nth-child(4) {
        justify-content: flex-end;
    }
}
@media screen and (min-width: 1440px) {
    .block {
        width: 1300px;
    }
    .alertBlock p:nth-child(1) {
        margin-right: 200px;
    }
    .alertBlock p:nth-child(2) {
        margin-right: 680px;
    }
    .alertBlock p:nth-child(3) {
        margin-right: 20px;
    }
    .alertBlock p:nth-child(4) {
        justify-content: flex-end;
    }
}