.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.zahodi {
    width: 100%;
    background-color: #ecf3fc;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.infoBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 500px;
}
.infoBlock h1 {
    font-size: 22px;
    font-weight: 700;
}
.infoBlock p {
    font-size: 18px;
    font-weight: 500;
    color: #36bbcb;
}
.bottomBlock {
    width: 1500px;
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.calendarBlock {
    width: 825px;
    height: 100%;
    background-color: #ecf3fc;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
}
.newsBlock {
    width: 60%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.calendar {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.editBlock {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf3fc;
    box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
    padding-top: 25px;
    border-radius: 12px;
    /* margin-right: 40px; */
}
.titleText {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
}
.underTitleText {
    font-size: 16px;
    font-weight: 200;
    color: black;
    margin-bottom: 20px;
}
.buttonBlock {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.buttonBlock p {
    margin-bottom: 20px;
}
.buttonBlock img {
    width: 30%;
    height: 40%;
}
@media screen and (min-width: 0px) {
    .bottomBlock {
        flex-direction: column;
    }
    .editBlock {
        width: 27%;
        margin: 10px 0;
    }
    .buttonBlock img {
        width: 25%;
        height: 50%;
    }
    .infoBlock {
        /* display: none; */
        justify-content: center;
        align-items: center;
        margin: 0 0 50px 0;
    }
}
@media screen and (min-width: 1025px) {
    .editBlock {
        width: 200px;
        margin-right: 20px;
    }
    .bottomBlock {
        flex-direction: row;
    }
    .buttonBlock img {
        width: 32%;
    }
    .bottomBlock {
        width: 100%;
    }
    .infoBlock {
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 600px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1440px) {
    .buttonBlock img {
        width: 40%;
        height: 50%;
    }
    .bottomBlock {
        width: 1500px;
        margin-top: 33px;
        flex-direction: row;
        align-items: center;
    }
    .editBlock {
        width: 250px;
        margin-right: 20px;
        /* margin-left: 0px; */
    }
}