.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	display: none;
}
.zahodi {
	width: 100%;
	background-color: #ecf3fc;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50px;
}
.infoBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.infoBlock h1 {
	font-size: 22px;
	font-weight: 700;
}
.infoBlock p {
	font-size: 18px;
	font-weight: 500;
	color: #36bbcb;
}
.bottomBlock {
	width: 1500px;
	margin-top: 33px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.calendarBlock {
	width: 825px;
	height: 100%;
	background-color: #ecf3fc;
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
}
.newsBlock {
	width: 60%;
	height: 100%;
	background-color: white;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
.calendar {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.editBlock {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ecf3fc;
	box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
	padding-top: 25px;
	border-radius: 12px;
}
.titleText {
	font-size: 16px;
	font-weight: 600;
	color: black;
	margin-bottom: 5px;
}
.underTitleText {
	font-size: 16px;
	font-weight: 200;
	color: black;
	margin-bottom: 20px;
}
.buttonBlock {
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.buttonBlock p {
	margin-bottom: 20px;
}
.buttonBlock img {
	width: 120px;
	height: 120px;
}
@media screen and (min-width: 0px) {
	.chartBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.bottomBlock {
		flex-direction: column;
	}
	.editBlock {
		width: 180px;
		height: 350px;
		margin: 10px 20px;
		text-align: center;
	}
	.editBlock p {
		width: 70%;
	}
	.buttonBlock img {
		width: 100px;
		height: 100px;
	}
	.infoBlock {
		padding: 0;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (min-width: 1025px) {
	.editBlock {
		width: 250px;
		height: 300px;
		margin-right: 20px;
		white-space: nowrap;
	}
	.bottomBlock {
		flex-direction: row;
	}
	.buttonBlock img {
		width: 110px;
		height: 110px;
	}
	.bottomBlock {
		width: 100%;
	}
	.chartBlock {
		flex-direction: row;
	}
	.infoBlock {
		align-items: flex-start;
		justify-content: flex-start;
		padding-left: 20%;
	}
}
@media screen and (min-width: 1440px) {
	.buttonBlock img {
		width: 120px;
		height: 120px;
	}
	.bottomBlock {
		width: 1500px;
		margin-top: 33px;
		flex-direction: row;
		align-items: center;
	}
	.chartBlock {
		gap: 20px;
	}
}
