.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
::-webkit-scrollbar {
	display: none;
}
.zahodi {
	width: 100%;
	background-color: #ecf3fc;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 20px 15px;
}
.infoBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.infoBlock h1 {
	font-size: 22px;
	font-weight: 700;
}
.infoBlock p {
	font-size: 18px;
	font-weight: 500;
	color: #36bbcb;
}
.bottomBlock {
	max-width: 1300px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	@apply flex-col sm:flex-row gap-5;
}

.chartBlock {
	@apply w-full flex flex-col 
	usm:flex-row sm:flex-col sm:w-1/2
	lg:flex-row gap-5;
}

.editBlock {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ecf3fc;
	box-shadow: 0 2px 4px rgb(30 37 82 / 24%);
	padding-top: 25px;
	border-radius: 12px;
	@apply w-full usm:w-1/2 sm:w-full lg:w-1/2
	text-sm text-center;
}
.titleText {
	font-size: 16px;
	font-weight: 600;
	color: black;
	margin-bottom: 5px;
}
.underTitleText {
	font-size: 16px;
	font-weight: 200;
	color: black;
	margin-bottom: 20px;
}
.buttonBlock {
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.buttonBlock p {
	margin-bottom: 20px;
}
.buttonBlock img {
	@apply w-100 h-100;
}

@media screen and (min-width: 1024px) {
	.chartBlock {
		width: calc(100% - 500px);
	}
}
