.footer {
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #474b5d;
	padding: 20px;
	width: 100%;
	z-index: 2;
}
.footerContainer {
	display: flex;
	width: 100%;
	max-width: 1300px;
	@apply flex-col justify-between gap-5 lg:flex-row lg:gap-10;
}
.footerBlocks {
	@apply w-full lg:w-530
	gap-4 flex flex-col items-center justify-between 
	sm:flex-row sm:justify-center sm:gap-10
	lg:justify-between lg:gap-4;
}
